<.header>
  Shortened URLs
</.header>

<.table id="shorts" rows={@shorts} row_click={&JS.navigate(~p"/shorts/#{&1}")}>
  <:col :let={short} label="Shortened"><%= short.shortened %></:col>
  <:col :let={short} label="Original"><%= short.original %></:col>
  <:col :let={short} label="Visited"><%= short.visited %></:col>
</.table>
