<.header>
  <%= "#{ShortenerWeb.Endpoint.url()}/#{@short.short_code}" %>
</.header>

<.list>
  <:item title="Original"><%= @short.original %></:item>
</.list>

<.back navigate={~p"/"}>Shorten Another URL</.back>
